form{
    margin-top: 100px;
    margin-left: 250px;
}

form p{
    font-size: 15pt;
}

input[type=text1]{
    margin-left: 20px;
}

input[type=text2]{
    margin-left: 47px;
}

input[type=text3]{
    margin-left: 100px;
}

input[type=submit]{
    margin-left: 180px;
    height: 30px;
    width: 150px;
    font-size: 11.5pt;
}

.datenverarbeitung_hinweisText{
    margin-left: 250px;
}