.datenfelder_einfuegen{
    margin-top: 160px;
    margin-left: 300px;
}

form p{
    font-size: 15pt;
    margin-top: 0;
}

input[type=submit]{
    margin-left: 81px;
    height: 30px;
    font-size: 11.5pt;
    width: 150px;
}

.db-Verbindung{
    margin-top: 30px;
}

